/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: var(--lightGreen-2);
}

section {
	padding: 100px 0;
}
@media only screen and (max-width: 767px) {
	section {
		padding: 50px 0;
	}
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Raleway' , sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	font-size: 1.8rem;
}

a {
    display: inline-block;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
li {
    list-style-type: none;
}